/* main video controls */
.video-js {
    font-size: 13px;
}

/* hide picture-in-picture control */
.video-js .vjs-picture-in-picture-control {
    visibility: hidden;
}

/* Change the border of the big play button. */
.video-js .vjs-big-play-button {
    top: 45%;
    left: 44%;
    border: hidden;
    background-color: #2B333F;
    background-color: rgb(55 91 145 / 70%);
    border-radius: 4.299999999999997em;
    transition: all 0.4s;
    height: 0;
    border: hidden;
    font-size: 5em;
}

/* video control bar progress */
.video-js .vjs-load-progress {
    background: #2e3135;
}

/* video control bar button */
.video-js .vjs-play-progress {
    background-color: #768da8;
}

.video-js .vjs-load-progress div {
    background: rgb(20 23 28 / 75%);
}

/* volume control */
.video-js .vjs-volume-level {
    background: #768da8;
    border-radius: 1em;
    margin: 0;
}

